<div class="header-container">
  <div class="menu-group dark">
    <div class="menu-group-left">
      <ul class="dark title-area">
        <li class="name">
          <img src="/style/images/trails-logo-small.svg">
        </li>
      </ul>
    </div>
    <div class="menu-group-middle">
      <ul class="menu-bar dark">
      </ul>
    </div>
    <div class="menu-group-right">
      <ul class="icon-left dark menu-bar">
        <li>
          <a [routerLink]=" ['/home'] ">Home</a>
        </li>
        <li>
          <a [routerLink]=" ['/about'] ">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>
