<div class="footer-container">
  <div class="menu-group dark">
    <div class="menu-group-left">
      <ul class="dark">
        <li>
          <img src="/style/images/trails-logo-small.svg"/>
        </li>
      </ul>
    </div>
    <div class="menu-group-middle">

    </div>
    <div class="menu-group-right">
      <ul class="menu-bar dark">
        <li>
          <a  href="http://trailsjs.io" target="_blank">Trails</a>
        </li>
        <li>
          <a href="https://github.com/jaumard/trails-angular2-isomorphic" target="_blank">Sources</a>
        </li>
      </ul>
    </div>
  </div>
</div>
